span {
    color: rgb(236, 223, 39);
    text-shadow: black 0px 0px 3px;
    font-size: larger;
    font-weight: bolder;  
}



.pic-container {
    display: flex;
   justify-content: center;
   margin-top: 2px;
}

.my-pic {
    width:100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 8px rgb(53, 51, 28);

    
}

.resume {
    text-decoration: none;
    background-color: rgb(163, 162, 162);
    font-size: larger; 
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
    font-family: raleway;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin: 30px;
}

.resume-area {
    background-color:rgb(250, 222, 51);
    text-align: center;
}




.resume:hover {
	background:lightgray;
}
